body,div,h1,h2,h3,h4,h5,h6,ul,ol,p,dl,dt{
    margin:0;
    padding:0;
}
input,button{
    border:none;
    outline:none;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix:after,
.clearfix:before{
    content:'';
    display:block;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
body{
    font-size:14px;
    color:#666;
    font-family:"Microsoft Yahei", 微软雅黑;
}

a:hover {
    color:#63b504;
}